@model ListViewModel
@{
    ViewBag.Title = "Assignments";

    // ViewBag.ListHeaderUsername = User.Identity!.Name!.EndsWith('s') ? $"{User.Identity.Name}'" : $"{User.Identity.Name}'s";

    DateTime selectedDate = DateTime.Parse(ViewBag.SelectedDate);
    string dayBefore = selectedDate.AddDays(-1).ToString("yyyy-MM-dd");
    string dayAfter = selectedDate.AddDays(1).ToString("yyyy-MM-dd");

    ViewBag.CalendarClass = "tasks-header__date__calendar";
}

@section Styles {
    <link rel="stylesheet" href="~/Styles/Subpages/list.min.css">
}

@section ScriptsHead {
    <script src="~/Scripts/calendar.js" defer></script>
    <script src="~/Scripts/tasksHeader.js" defer></script>
    <script src="~/Scripts/taskEdit.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" defer></script>
}

<div class="container container--wide tasks-container">
    <header class="tasks-header">
        <div class="tasks-header__part tasks-header__part--logo">
            <div class="tasks-header__logo">
                <img src="" alt="TaskHub logo">
            </div>
        </div>
        <div class="tasks-header__part tasks-header__part--date">
            <div class="tasks-header__date">
                <p class="tasks-header__date__calendar-icon">
                    <i class="fa-regular fa-calendar"></i>
                </p>
                <p class="tasks-header__date__date-content">
                    @ViewBag.SelectedDate
                </p>
                <p class="tasks-header__date__arrow">
                    <i class="fa-solid fa-caret-down"></i>
                </p>
                @await Html.PartialAsync("_CalendarPartial")
            </div>
        </div>
        <div class="tasks-header__part tasks-header__part--logout">
            <div class="tasks-header__logout">
                <a asp-controller="Account" asp-action="Logout">
                    <p class="tasks-header__logout__text"></p>
                    <p class="tasks-header__logout__icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></p>
                </a>
            </div>
        </div>
    </header>
    <main class="tasks-main">
        <div class="tasks-main__welcome">
            <h2>Have a great day @(User.Identity.Name)!</h2>
            <h1>Your tasks</h1>
        </div>
        <div class="tasks-main__list-container">
            <ul class="tasks-main__list" id="task-list">
                @foreach (AssignmentResponse assignment in Model.Assignments)
                {
                    <li class="tasks-main__list__single-task @(assignment.IsDone ? "tasks-main__list__single-task--done" : "")">
                        <p class="tasks-main__list__single-task__icon">
                            <a asp-controller="Assignments" asp-action="ChangeAssignmentStatus" asp-route-assignmentID="@assignment.AssignmentID" asp-route-SelectedDate="@ViewBag.SelectedDateLink">
                                @if(!assignment.IsDone)
                                {
                                    <i class="fa-regular fa-circle"></i>
                                } else
                                {
                                    <i class="fa-regular fa-circle-check"></i>
                                }
                            </a>
                        </p>
                        <p class="tasks-main__list__single-task__content">
                            @assignment.Content
                        </p>
                        <p class="tasks-main__list__single-task__edit">
                            <i class="fa-solid fa-pen" data-taskID="@assignment.AssignmentID" data-taskContent="@assignment.Content"></i>
                            <a asp-controller="Assignments" asp-action="DeleteAssignment" asp-route-assignmentID="@assignment.AssignmentID" asp-route-SelectedDate="@ViewBag.SelectedDateLink"><i class="fa-solid fa-trash"></i></a>
                        </p>
                    </li>
                }
            </ul>
            <p class="tasks-main__add-task">
                + Add new task
            </p>
        </div>
        <div class="tasks-main__arrow tasks-main__arrow--left">
            <a asp-controller="Assignments" asp-action="List" asp-route-selectedDate="@dayBefore"><i class="fa-solid fa-circle-chevron-left"></i></a>
        </div>
        <div class="tasks-main__arrow tasks-main__arrow--right">
            <a asp-controller="Assignments" asp-action="List" asp-route-selectedDate="@dayAfter"><i class="fa-solid fa-circle-chevron-right"></i></a>
        </div>
    </main>
</div>
@await Html.PartialAsync("_EditModalPartial", Model.UpdateRequest)